**NIM/Nama: 19623149/Muhammad Fathur Rizky**\
**Tanggal: 16 November 2023**\
**Deskripsi: Diberikan data harga rumah yang disewakan di Airbnb di Singapura, kemudian menuliskan solusi dari 5 soal yang diberikan**

In [47]:
import pandas as pd

df = pd.read_csv('P05-03.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

## No 1

In [48]:
len(df[(df['minimum_nights'] == 1) & (df['number_of_reviews'] != 1)])

1841

## No 2

In [49]:
maxi = df['availability_365'].max()
df[df['availability_365'] == maxi].loc[:, ['host_name']]

      host_name
0     Francesca
1       Sujatha
2     Francesca
23        Susan
26        Roger
...         ...
7866         无殇
7869     Apollo
7896         V/
7903       Neha
7906    Terence

[843 rows x 1 columns]

Idenya adalah mencari nilai maksimum dari kolom *availability_365*, kemudian kita mencocokkan kolom *availability_365* yang berisi nilai maksimum tadi.

## No 3

In [50]:
len(df[((df['neighbourhood_group'] == 'Central Region')
        | (df['neighbourhood_group'] == 'East Region')) & (df['price'] < 100)])

2429

## No 4

In [51]:
print((df[df['reviews_per_month'] > 1].loc[:, ['room_type']].value_counts().
       to_string()))

room_type
Entire home/apt    873
Private room       681
Shared room         67

## No 5

In [52]:
host_name = df['host_name'].value_counts().index[0]
df[df['host_name'] == host_name].iloc[:5]['name']

507          Master room 2 with a pool view
709                   Super Big Master room
712                     Raffles Master Room
714    Ocean view  Master Room in Penthouse
715                             Common Room
Name: name, dtype: object