**NIM/Nama: 19623149/Muhammad Fathur Rizky**\
**Tanggal: 16 November 2023**\
**Deskripsi: Diberikan data harga rumah yang disewakan di Airbnb di Singapura, kemudian menuliskan solusi dari 5 soal**

In [23]:
import pandas as pd

df = pd.read_csv('P05-03.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

## No 1

In [24]:
print(df.neighbourhood_group.value_counts().to_string())

Central Region       6309
West Region           540
East Region           508
North-East Region     346
North Region          204

## No 2

In [31]:
df.sort_values(by='number_of_reviews',
               ascending=False).iloc[:1].loc[:, ['name', 'number_of_reviews']]

                                 name  number_of_reviews
132  Luxuriously Spacious Studio Apt.                323

## No 3

In [26]:
df.sort_values(by='minimum_nights').iloc[:5].loc[:, ['name', 'minimum_nights']]

                                                   name  minimum_nights
2766     Newly Refurbished Private Room @ Sembawang MRT               1
6674  B1 • Minimalistic Room 5mins Train To MBS And ...               1
2183                 Brand New Cosy 2-Bedroom Apartment               1
4640                    Terrace House @ Thomson Village               1
4639  Masteroom (bath) @ Terrace House @ Thomson Vil...               1

## No 4

In [27]:
df[df['host_name'] == 'Jayce'].loc[:, ['name']]

                                                  name
1890               Private Room near Paya Lebar&Dakota
1950                  Private Room near Paya Lebar MRT
2007        Private Common Room at near Paya Lebar MRT
2351          Private Master Room with attach bathroom
2513  Private Master Room w/Own Bathroom at paya lebar
2901               The condo common room at dakota mrt

## No 5

In [28]:
df['reviews_per_month'].corr(df['minimum_nights'])

-0.1394693387693145

Karena nilai koefisien korelasinya dekat dengan 0, maka kita bisa menyimpulkan bahwa banyaknya review tiap bulan dengan jumlah malam penyewaan minimum tidak berkorelasi.